<table
    *ngIf="paises.length > 0"
    class="table table-hover align-middle">
    <thead class="table-dark">
        <tr>
            <th> # </th>
            <th> Bandera </th>
            <th> Nombre </th>
            <th> Capital </th>
            <th> Poblacion </th>
            <th></th>
        </tr>
    </thead>
    <tbody  
        *ngFor="let pais of paises; index as i">
        <tr>
            <td> {{i+1}} </td>
            <td> 
                <img 
                    class="img-flag"
                    [src]="pais.flag" 
                    [alt]="pais.flag">
            </td>
            <td> {{pais.name}} </td>
            <td> {{pais.capital}}</td>
            <td> {{pais.population | number}} </td>
            <td> 
                <a 
                    class="btn btn-success"
                    [routerLink]="['/pais', pais.alpha2Code]">
                    Ver...
                </a>
            </td>
    </tbody>
</table>