<div class="animate__animated animate__fadeInRight animate__faster">
    <h2>Por Pais</h2>
    <hr>
    <div class="row">
        <div class="col">
            <app-pais-input
                (onEnter)='buscar( $event )'
                (onDebounce)='sugerencia( $event )'
                placeholder="Buscar Pais...">
            </app-pais-input>
        </div>
    </div>
    <ul 
        *ngIf="mostrarSugerido"
        class="list-group">
        <li 
            *ngFor="let pais of sugerencias"
            class="list-group-item list-group-item-action">
            <a 
                [routerLink]="['/pais', pais.alpha2Code]"
                class="nav-link">
                {{pais.name}}
            </a>
        </li>
        <li 
            class="list-group-item list-group-item-action">
            <a
                (click)="buscar( termino )"
                class="nav-link">
                Buscar {{termino}}
            </a>  
        </li>
    </ul>
    <hr>
</div>

<div 
    class="alert alert-danger"
    *ngIf="error">
    <p>No se encontro nada con el pais {{termino}}</p>
</div>


<div class="row">
    <div class="col table-responsive-xl">
        <app-pais-tabla [paises]='paises'></app-pais-tabla>
    </div>
</div>

